<div class="Container">
    <div class="Block">
        <div style="width: 100%; margin-top: 2%;">
            <span style="color:gray; cursor: pointer;" routerLink="/dashboard/getallbook">Home/</span>
            <span> Mycart </span>
        </div>
        <div style="width: 70%; margin-top: 20px;">
            <mat-card style="margin-top: 20px; border: 1px solid gray;">
                <div>
                    <div class="block1">
                        <h2>MyCart({{cartArray?.length}})</h2>
                        <mat-card style="margin-left: 50%; width:250px; height: 10px;">
                            <span style="margin-bottom: 5px;">Bridgelabz solutions Private ltd</span>
                        </mat-card>
                    </div>
                    <div style="margin-top: 5px; display: flex; direction: row; margin-bottom: 40px; border-bottom: 1px solid gray; padding-bottom: 25px;"
                        *ngFor="let cart of cartArray">
                        <div>
                            <img style="height: 70px; width: 60px" [src]="cart.bookmodel.bookImage" />
                        </div>
                        <div style="margin-left: 30px;">
                            <div style="display: flex; direction:row">
                                <span style="font-size:medium; font-family: cursive;">{{cart.bookmodel.bookName}}</span>
                            </div>
                            <div>
                                <span style="font-size: 10px; color:gray">By {{cart.bookmodel.authorName}}</span>
                            </div>
                            <div class="discountprice">
                                Rs.{{cart.bookmodel.discountPrice * cart.bookQuantity}}
                                <del style="margin-left: 30px; color:gray"> Rs.{{cart.bookmodel.originalPrice *
                                    cart.bookQuantity}} </del>
                            </div>
                            <div>
                                <div style="margin-top: 10px;">
                                    <button style="background-color: white;width:7%;height: 20px;  border-radius: 100%;"
                                        (click)="minus(cart.bookId,cart.cartId,cart.bookQuantity)">-</button>
                                    <input style="width:20%;height: 15px; text-align: center;"
                                        [value]="cart.bookQuantity" />
                                    <button style="background-color: white; width:7%;height: 20px; border-radius: 100%;"
                                        (click)="plus(cart.bookId,cart.cartId,cart.bookQuantity)">+</button>
                                    <span style="font-size: 15px; margin-left: 30px;"
                                        (click)="Remove(cart.cartId)">Remove</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="example-button-row">
                        <button
                            style="background-color: #3371B5; color:aliceblue; border: 1px solid gray; height: 34px;  width: 150px;"
                            mat-raised-button color="primary" *ngIf="!show" (click)="hideAndShow()">PLACE ORDER</button>
                    </div>
                </div>
            </mat-card>
            <mat-card style="margin-top: 20px; border: 1px solid gray;">
                <div *ngIf="!show">
                    <h2>Address Details</h2>
                </div>
                <div style="margin: 20px;" *ngIf="show">
                    <div style="display: flex; direction: row; justify-content: space-between;">
                        <div>
                            <h2>Customer Details</h2>
                        </div>
                        <div  class="block2">
                            <button style="height: 34px;
                            width: 150px;
                            color: brown;
                            border-color: brown;
                            border: 1px solid;"  *ngIf="!addshow" (click)="addshowhide()">Add New Address</button>
                        </div>
                    </div>
                    <div>
                        <div style="display: flex; direction: row; margin-top: 10px;">
                            <div>
                                <div>
                                    <mat-label>FullName</mat-label>
                                </div>
                                <input matInput placeholder="Ganesh">
                            </div>
                            <div style="margin-left: 5px;">
                                <div>
                                    <mat-label>MobileNumber</mat-label>
                                </div>
                                <input matInput placeholder="8698669929">
                            </div>
                        </div>
                        <div *ngIf="addshow">
                            <div style="margin-top: 10px;">
                                <div>
                                    <mat-label>Address</mat-label>
                                </div>
                                <input style="width: 351px;"  [(ngModel)]="address" matInput placeholder="mumbai">
                            </div>
                            <div style="display: flex; direction: row; margin-top: 10px;">
                                <div>
                                    <div>
                                        <mat-label>City/Town</mat-label>
                                    </div>
                                    <input [(ngModel)]="city" matInput placeholder="Mumbai">
                                </div>
                                <div style="margin-left: 5px;">
                                    <div>
                                        <mat-label>State</mat-label>
                                    </div>
                                    <input  [(ngModel)]="state" matInput placeholder="Maharashtra">
                                </div>
                            </div>
                            <div style="margin-top: 20px;">
                                <div>
                                    <mat-label>Type</mat-label>
                                </div>
                                <mat-radio-group  [(ngModel)]="value" aria-label="Select an option" style="padding-top: 10px;" >
                                    <mat-radio-button  value="1"  [(ngModel)]="value">Home</mat-radio-button>
                                    <mat-radio-button  style="margin-left: 30px;" value="2" [(ngModel)]="value">Work</mat-radio-button>
                                    <mat-radio-button style="margin-left: 30px;" value="3" [(ngModel)]="value">Other</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="example-button-row">
                                <button
                                    style="background-color: #3371B5; color:aliceblue; border: 1px solid gray; height: 34px;  width: 150px;"
                                    mat-raised-button color="primary"
                                   (click)="Addaddress()">Submit Address</button>
                            </div>
                        </div>
                        <div style="margin-top: 20px;margin-left: 0px" *ngIf="!addshow">
                            <div *ngFor="let Address of AddressArray">
                                <div *ngIf="Address.typeId > 2">
                                    <input type="radio" [(ngModel)]="AddressId" [id]="Address.addressId"
                                    value="{{Address.addressId}}" style="margin-top: 20px;">
                                    <span for="Address.typeId" style="font-size: 18px;">.Home </span>
                                </div>
                                <div *ngIf="Address.typeId===2">
                                    <input type="radio" [(ngModel)]="AddressId" [id]="Address.addressId" value="{{Address.addressId}}"
                                        style="margin-top: 20px;">
                                    <span for="Address.typeId" style="font-size: 18px;">.Work </span>
                                </div>
                                <div *ngIf="Address.typeId===1">
                                    <input type="radio" [(ngModel)]="AddressId" [id]="Address.addressId"
                                    value="{{Address.addressId}}" style="margin-top: 20px;">
                                    <span for="Address.typeId" style="font-size: 18px;">.other </span>
                                </div>
                                <div style="margin-top: 10px;">
                                    <div>
                                        <mat-label>Address</mat-label>
                                    </div>
                                    <input style="width: 351px;" matInput placeholder="mumbai" [value]="Address.address">
                                </div>
                                <div style="display: flex; direction: row; margin-top: 10px;">
                                    <div>
                                        <div>
                                            <mat-label>City/Town</mat-label>
                                        </div>
                                        <input matInput placeholder="Mumbai" [value]="Address.city">
                                    </div>
                                    <div style="margin-left: 5px;">
                                        <div>
                                            <mat-label>State</mat-label>
                                        </div>
                                        <input matInput placeholder="Maharashtra"  [value]="Address.state">
                                    </div>
                                </div>
                            </div>
                            <div class="example-button-row">
                                <button
                                    style="background-color: #3371B5; color:aliceblue; border: 1px solid gray; height: 34px; margin-left: -17px;  width: 150px;"
                                    mat-raised-button color="primary" (click)="SummaryHide()" *ngIf="!Summary">CONTINUE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
            <mat-card style="margin-top: 20px; border: 1px solid gray;">
                <div style=" margin-bottom: 20px; border-bottom: 1px solid gray; padding-bottom: 25px;">
                    <div class="block1">
                        <h2>Order Summary</h2>
                    </div>
                    <div *ngIf="Summary">
                        <div style="margin-top: 5px; display: flex; direction: row;" *ngFor="let cart of cartArray">
                            <div>
                                <img style="height: 70px; width: 60px" [src]="cart.bookmodel.bookImage" />
                            </div>
                            <div style="margin-left: 30px;">
                                <div style="display: flex; direction:row">
                                    <span
                                        style="font-size:medium; font-family: cursive;">{{cart.bookmodel.bookName}}</span>
                                </div>
                                <div>
                                    <span style="font-size: 10px; color:gray">By {{cart.bookmodel.authorName}}</span>
                                </div>
                                <div class="discountprice">
                                    Rs.{{cart.bookmodel.discountPrice * cart.bookQuantity}}
                                    <del style="margin-left: 30px; color:gray"> Rs.{{cart.bookmodel.originalPrice *
                                        cart.bookQuantity}} </del>
                                </div>
                                <div class="example-button-row">
                                    <button
                                        style="background-color: #3371B5; color:aliceblue; border: 1px solid gray; height: 34px;  width: 150px; margin-left: -70px;"
                                        mat-raised-button color="primary"(click)="AddToOrder(cart.bookId,cart.bookQuantity)">CHECKOUT</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>