<div style="height: 100%; width: 100%;">
    <div style="height: 100%; width: 100%;">
        <mat-toolbar style=" background-color: brown;" fxLayout="row" fxLayoutAlign="space-around center">
            <div class="book">
                <img style="padding-left: 70px ;" src="../../../assets/book.svg" />
                <span style="color: white; margin: 15px;">BookStore</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <input class="searchInput" type="text" name="search" placeholder="Search.." />
            </div>
            <div class="profile" style="width: 200px;">
                <div style="width:100px; height: 60px; padding-top: 10px;">
                    <div style="height:18px ; color: aliceblue;">
                        <mat-icon>perm_identity</mat-icon>
                    </div>
                    <span style="font-size: 12px; color: aliceblue; padding-right: 20px;">Profile</span>
                </div>
                <div style="width:100px; height: 60px; padding-top: 10px;">
                    <div style="height:18px ; color: aliceblue;">
                        <mat-icon routerLink="./mycart">shopping_cart</mat-icon>
                    </div>
                    <span style="font-size: 12px; color: aliceblue;">Cart</span>
                </div>
            </div>
        </mat-toolbar>
        <div>
            <router-outlet></router-outlet>
        </div>
       
    </div>
    <div class="footer">
        Copyright &copy; 2022 Bookstore Private Limited All Rights Reserved
    </div>
</div>