table,tr, td {
    border: 1px solid lightgray;
}

th{
    background-color: whitesmoke;
}
.page{
    margin-left: 490px;
}
.para{
    margin-left: -500px;
    text-align: center;
}
.table{
    margin-left: -190px;
}
.button{
    background-color: #3371B5;
    border: none;
    margin-left: 100px;
    margin-top: 20px;
    width: 160px;
    color: white;
    height: 31px;
}
